h1 {
  margin: 10px;
  padding: 0;
  font-size: 1.8em;
}

h2 {
  margin: 10px;
  font-size: 1.2em;
}

header {
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 4px #1f1919;
  background-color: #ffffff;
}

footer {
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 4px #1f1919;
  background-color: #ffffff;
  height: 50px;
}

.block-image {
  border-radius: 10px;
  box-shadow: 0 2px 4px #1f1919;
  background-color: #ffffff;
  margin: auto;
  width: 80%;
  max-width: 800px;
  min-width: 400px;
  text-align: center;
}

.block-image p {
  padding-top: 15px;
  padding-left: 20px;
}

.block-image img {
  display: block;
  width: 96%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.stars {
  font-size: 50px;
}

.stars:hover,
.clickedStar {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.spinner {
  text-align: center;
}
